nav {
	margin: 0;
	padding:15px 0 0 0;
	color:#FFF;
	font-size:12px;
	width:100px;
	float:right;
}

nav a{
	color:#FFF;
	text-decoration:none;
	font-weight:normal;
}

nav a:hover{
	color: #0FF;
	text-decoration:none;
	font-weight:normal;
}
